

  <div class="col-md-4 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Classes</div>
      <div class="panel-body">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter New Class Name" ng-model="class.name">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success" ng-click="addClass()">&nbsp<span class="glyphicon glyphicon-plus-sign"></span>&nbsp</button>
            </span>
          </div>
        </form>
        <table class="table">
          <tr ng-repeat="class in classData">
            <td>
              <a href="/#/admin/class/{{class.id}}"> {{class.name}}  </a>
              <a href=""> <span class="glyphicon glyphicon-remove-sign text-danger" ng-click="deleteClass(class)"> </span> </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Teachers</div>
      <div class="panel-body">
        <form>
          <input type="text" class="form-control" placeholder="Enter Username" ng-model="teacher.username">
          <input type="text" class="form-control" placeholder="Enter Email" ng-model="teacher.email">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Password" ng-model="teacher.password">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success" ng-click="addTeacher()">&nbsp<span class="glyphicon glyphicon-plus-sign"></span>&nbsp</button>
            </span>
          </div>
        </form>
        <table class="table">
          <tr ng-repeat="teacher in teacherData">
            <td>
              <a href="/#/admin/teacher/{{teacher.id}}"> {{teacher.email}}  </a>
              <a href=""> <span class="glyphicon glyphicon-remove-sign text-danger" ng-click="deleteTeacher(teacher)"> </span> </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="panel panel-default" >
      <div class="panel-heading">Students</div>
      <div class="panel-body">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter New Student Name" ng-model="student.name">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success" ng-click="addStudent()">&nbsp<span class="glyphicon glyphicon-plus-sign"></span>&nbsp</button>
            </span>
          </div>
        </form>
        <table class="table">
          <tr ng-repeat="student in studentData">
            <td>
              <a href="/#/admin/student/{{student.id}}"> {{student.name}}  </a>
              <a href=""> <span class="glyphicon glyphicon-remove-sign text-danger" ng-click="deleteStudent(student)"> </span> </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
