<div>
  <table class="table">
    <tr>
      <th class="col-sm-3">
        Student
      </th>
      <th class="col-sm-3">
        Check In
      </th>
      <th class="col-sm-3">
        Check Out
      </th>
      <th class="col-sm-3">
        Status
      </th>
    </tr>
    <tr ng-repeat="seat in seatList">
      <td class="col-sm-3">
        {{ seat.student.name }}
      </td>
      <td class="col-sm-3">
        <button class="btn btn-lg btn-primary checkIn {{seat.id}}" data-loading-text="loading" type="submit" ng-click="startPinPad(seat, checkIn)" ng-disabled="seat.checked_in"> Check In </button>
      </td>
      <td class="col-sm-3">
        <button class="btn btn-lg btn-primary checkOut {{seat.id}}" data-loading-text="loading" type="submit" ng-click="startPinPad(seat, checkOut)" ng-disabled="!seat.checked_in" ng-hide="class.class_type=='pickup'"> Check Out </button>
      </td>
      <td class="col-sm-3">
        {{ getStatus(seat.checked_in) }}
      </td>
    </tr>
  </table>

<!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".pin-modal">Small modal</button> -->

<style>
.modal-content
{
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
0
}




</style>



  <div class="modal fade pin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content text-center">
        <div class="modal-header">
          <div class="modal-title" style="color:#FFFFFF;">
            Please Enter PIN
          </div>
        </div>
        <h1 class="text-center" style="color:#FFFFFF;">&nbsp;{{pin}}&nbsp;</h1>
          <button class="btn btn-lg btn-success col-md-4" ng-repeat="number in pinNumbers" style="width:33.3%; border-radius: 0 !important;" ng-click="pinButton(number)"><h1>{{number}}</h1></button>
      </div>
    </div>
  </div>



  <!--
  <input type="text" ng-model="name" placeholder="Name">
  <input type="submit" ng-click="newStudent()">
  -->
</div>
