<div>
  <table class="table">
    <tr>
      <th class="col-sm-2">
        Student
      </th>
      <th class="col-sm-2">
      </th>
      <th class="col-sm-2">
        Check In
      </th>
      <th class="col-sm-2">
        Check Out
      </th>
      <th class="col-sm-2">
        Status
      </th>
    </tr>
    <tr ng-repeat="student in students">
      <td class="col-sm-2">
        {{ student.name }}
      </td>
      <td class="col-sm-4">
      </td>
      <td class="col-sm-2">
        <button class="btn btn-lg btn-primary checkIn {{student.id}}" data-loading-text="loading" type="submit" ng-click="checkIn(student.id)" ng-disabled="!(student.status == 'checked out')" ng-show="class.class_type=='pre'"> Check In </button>
        <button class="btn btn-lg btn-primary checkIn {{student.id}}" data-loading-text="loading" type="submit" ng-click="checkIn(student.id)" ng-disabled="(student.status == 'checked in after')" ng-show="(class.class_type=='after') || (class.class_type=='pickup')"> Check In </button>
      </td>
      <td class="col-sm-2">
        <button class="btn btn-lg btn-primary checkOut {{student.id}}" data-loading-text="loading" type="submit" ng-click="checkOut(student.id)" ng-disabled="(student.status == 'checked out')" ng-hide="class.class_type=='pickup'"> Check Out </button>
      </td>
      <td class="col--2">
        {{ getStatus(student) }}
      </td>
    </tr>
  </table>


  <input type="text" ng-model="name" placeholder="Name">
  <input type="submit" ng-click="newStudent()">
</div>
