<div>
  <table class="table">
    <tr>
      <th class="col-sm-2">
        Student
      </th>
      <th class="col-sm-2">
      </th>
      <th class="col-sm-2">
        Sign In Pre-School
      </th>
      <th class="col-sm-2">
        Sign In After School
      </th>
      <th class="col-sm-2">
        Sign Out
      </th>
      <th class="col-sm-2">
        Status
      </th>
    </tr>
    <tr ng-repeat="student in students">
      <td class="col-sm-2">
        {{ student.name }}
      </td>
      <td class="col-sm-2">
      </td>
      <td class="col-sm-2">
        <button class="btn btn-lg btn-primary checkInPre {{student.id}}" data-loading-text="loading" type="submit" ng-click="checkInPre(student.id)" ng-disabled="!(student.status == 'checked out')"> Check In </button>
      </td>
      <td class="col-sm-2">
        <button class="btn btn-lg btn-primary checkInAfter {{student.id}}" data-loading-text="loading" type="submit" ng-click="checkInAfter(student.id)" ng-disabled="(student.status == 'checked in after')"> Check In </button>
      </td>
      <td class="col-sm-2">
        <button class="btn btn-lg btn-primary checkOut {{student.id}}" data-loading-text="loading" type="submit" ng-click="checkOut(student.id)" ng-disabled="(student.status == 'checked out')"> Check Out </button>
      </td>
      <td class="col--2">
        {{ getStatus(student) }}
      </td>
    </tr>
  </table>


  <input type="text" ng-model="name" placeholder="Name">
  <input type="submit" ng-click="newStudent()">
</div>
