<div class="panel panel-default">
  <div class="panel-heading">Edit Teacher</div>
  <div class="panel-body">
    <form class="" ng-submit="logIn()">
      <label> Email </label>
      <input type="text" class="form-control" name="className" placeholder="Email" ng-model="teacher.email">
      <label> Name </label>
      <input type="text" class="form-control" name="className" placeholder="Name" ng-model="teacher.name">
      <label> Password </label>
      <input type="password" class="form-control" name="className" placeholder="Password" ng-model="teacher.password1">
      <label> Confirm Password </label>
      <input type="password" class="form-control" name="className" placeholder="Password Again" ng-model="teacher.password2">


      <br>
      <button type="submit" class="btn btn-success" ng-click="update()" ng-disabled="(teacher.password1 != teacher.password2)"> Update </button>
    </form>

  </div>
</div>
