<div class="col-md-4 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">Classes</div>
    <div class="panel-body">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter New Class Name" ng-model="newItemName">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success" ng-click="add()">&nbsp<span class="glyphicon glyphicon-plus-sign"></span>&nbsp</button>
          </span>
        </div>
      </form>
      <table class="table">
        <tr ng-repeat="item in data | filter:searchText">
          <td>
            <a href="/#/admin/class/{{item.id}}"> {{item.name}}  </a>
            <a href=""> <span class="glyphicon glyphicon-remove-sign text-danger" ng-click="delete(item)"> </span> </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
