<div class="input-group has-feedback col-md-12 ">
    <input type="text" class="form-control" placeholder="Search" ng-model="searchText" aria-describedby="basic-addon2">
    <span class="form-control-feedback glyphicon glyphicon-search"></span>
</div>
<br>



<add-remove type="'classes'"></add-remove>

  <div class="col-md-4 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Teachers</div>
      <div class="panel-body">
        <form>
          <input type="text" class="form-control" placeholder="Enter Name" ng-model="teacher.name">
          <input type="text" class="form-control" placeholder="Enter Username" ng-model="teacher.username">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Password" ng-model="teacher.password">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success" ng-click="addTeacher()">&nbsp<span class="glyphicon glyphicon-plus-sign"></span>&nbsp</button>
            </span>
          </div>
        </form>
        <table class="table">
          <tr ng-repeat="teacher in teacherData  | filter:searchText">
            <td>
              <a href="/#/admin/teacher/{{teacher.id}}"> {{teacher.name}} <span ng-show="teacher.roleMappings.length >= 1">(admin)</span> </a>
              <a href=""> <span class="glyphicon glyphicon-remove-sign text-danger" ng-click="deleteTeacher(teacher)"> </span> </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <add-remove type="'students'"></add-remove>
