<div class="panel panel-default">
  <div class="panel-heading">Edit Teacher</div>
  <div class="panel-body">
    <form class="" name="update">
      <div class="form-group">
        <label> Username </label>
        <input type="text" class="form-control" ng-model="teacher.username" readonly>
      </div>
      <div class="form-group has-feedback" ng-class="{'has-error':update.name.$error.unique}">
        <label> Name </label>
        <span class="pull-right control-label" ng-show="update.name.$error.unique">This name is taken.</span>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="update.name.$error.unique"></span>
        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="teacher.name" required unique model="teachers" attribute="name" except="{{teacher.original_name}}">
      </div>
      <div class="form-group has-feedback" ng-class="{'has-error':update.pin.$error.pattern}">
        <label class="control-label"> PIN </label>
        <span class="pull-right control-label" ng-show="update.pin.$error.pattern">PIN must be a four digit number.</span>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="update.pin.$error.pattern"></span>
        <input type="text" class="form-control" name="pin" placeholder="PIN" ng-model="teacher.pin" pattern="^[0-9]{4}$" maxLength=4 minLength=4 required>
      </div>
      <div class="checkbox">
        <label>

          <input type="checkbox" ng-model="teacher.isAdmin" ng-disabled="(userId == teacher.id)"> Admin

        </label>
      </div>
      <br>
      <button type="submit" class="btn btn-success" ng-click="updateTeacher()" ng-disabled="update.$invalid"> Update </button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Update Password</div>
  <div class="panel-body">
    <form class="" name="password_update">
      <div class="form-group has-feedback" ng-class="{'has-error':(password_update.password1.$error.minlength)||(password_update.password2.$error.compareTo&&password_update.password2.$dirty)}">
        <label> Password </label>
        <span class="pull-right control-label" ng-show="password_update.password1.$error.minlength">Password must be at least 4 character long.</span>
        <input type="password" class="form-control" name="password1" placeholder="Password" ng-model="teacher.password1" minLength=4>
        <label> Confirm Password </label>
        <span class="pull-right control-label" ng-show="(password_update.password2.$error.compareTo&&password_update.password2.$dirty)">Passwords must match.</span>
        <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="teacher.password2" compare-to="teacher.password1">
      </div>



<br>
<button type="submit" class="btn btn-success" ng-click="updatePassword()" ng-disabled="password_update.password1.$error.minlength||password_update.password2.$error.compareTo"> Update Password</button>
</form>

</div>
</div>
