<div class="panel panel-default">
  <div class="panel-heading">Edit Student</div>
  <div class="panel-body">
    <form name="update">
      <div class="form-group has-feedback" ng-class="{'has-error':update.name.$error.unique}">
        <label> Name </label>
        <span class="pull-right control-label" ng-show="update.name.$error.unique">This name is taken.</span>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="update.name.$error.unique"></span>
        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="student.name" required unique model="students" attribute="name" except="{{student.original_name}}">
      </div>
      <div class="form-group has-feedback" ng-class="{'has-error':update.pin.$error.pattern}">
        <label class="control-label"> PIN </label>
        <span class="pull-right control-label" ng-show="update.pin.$error.pattern">PIN must be a four digit number.</span>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="update.pin.$error.pattern"></span>
        <input type="text" class="form-control" name="pin" placeholder="PIN" ng-model="student.pin" pattern="^[0-9]{4}$" maxLength=4 minLength=4>
      </div>
      <button type="submit" class="btn btn-success" ng-click="updateStudent()" ng-disabled="update.$invalid"> Update </button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    <form class="form-inline">

      <div class="form-group">
        <input class="form-control" ng-model="notes.datebox" type="date"></input>
      </div>

      <div class="form-group input-group">
        <input class="form-control" ng-model="notes.textbox" placeholder="Enter Note" type="text" size="75"></input>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success" ng-click="addNote()">&nbsp<span class="glyphicon glyphicon-plus-sign"></span>&nbsp</button>
        </span>
      </div>

    </form>
    <table class="table table-striped table-responsive" style="table-layout: fixed;">
      <tr>
        <th>
          Date
        </th>
        <th colspan=3>
          Note
        </th>
      </tr>

      <tr ng-repeat="note in noteList">
        <td>
          {{note.date | date:"fullDate"}}
          <a href="">
            <span class="glyphicon glyphicon-remove-sign text-danger" ng-click="removeNote(note)"> </span>
          </a>
        </td>
        <td colspan=3>
          {{note.text}}
        </td>
      </tr>
    </table>
  </div>
</div>


<div  class="panel panel-default">
  <div class="panel-heading">Add/Remove Classes</div>
  <div class="panel-body">

    <label> Add Class </label>
    <div> </div>
    <form  class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control"  ng-model="newClass.name" typeahead="class.name for class in getAutoCompleteClasses()" typeahead-min-length=3>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success" ng-click="addClass()" ng-disabled="invalidClass()">
            &nbsp
            <span class="glyphicon glyphicon-plus-sign"></span>
            &nbsp
          </button>
        </span>
      </div>
    </form>

    <table class="table table-striped table-responsive" style="table-layout: fixed;">
      <tr>
        <th>
          Class
        </th>
        <th>
          Type
        </th>
        <th colspan=4>
          <center>Schedule</center>
        </th>
      </tr>

      <tr ng-repeat="seat in seatList">
        <td>
          <a href="#/admin/class/{{seat.class.id}}"> {{seat.class.name}} </a>
          <a href="">
            <span class="glyphicon glyphicon-remove-sign text-danger" ng-click="removeClass(seat.class)"> </span>
          </a>
        </td>
        <td>
          {{seat.class.class_type}}
        </td>
        <td colspan=4>
          <div class="btn-group pull-right">
            <button class="btn btn-default" ng-class="{'active':seat.days_of_week.monday}" ng-click="updateSeat(seat, 'monday')"> M </button>
            <button class="btn btn-default" ng-class="{'active':seat.days_of_week.tuesday}" ng-click="updateSeat(seat, 'tuesday')"> T </button>
            <button class="btn btn-default" ng-class="{'active':seat.days_of_week.wednesday}" ng-click="updateSeat(seat, 'wednesday')"> W </button>
            <button class="btn btn-default" ng-class="{'active':seat.days_of_week.thursday}" ng-click="updateSeat(seat, 'thursday')"> Th </button>
            <button class="btn btn-default" ng-class="{'active':seat.days_of_week.friday}" ng-click="updateSeat(seat, 'friday')"> F </button>
          </div>
          <div class="pull-right" style="vertical-align:middle; line-height:40px;">
            <span ng-repeat="timeBlock in seat.timeblocks">
              <span class="badge">{{timeBlock.name}}
                <a href="">
                  <span class="text-muted" ng-click="removeTimeBlock(seat,timeBlock)"> &times;</span>
                </a>
              </span>
            </span>
            <span class="badge">
              <input type="text" id="{{seat.id}}"class="text-primary" ng-show="seat.clicked" typeahead="timeBlock.name for timeBlock in timeBlocks" typeahead-editable=false typeahead-on-select="addTimeBlock(seat, $item)" ng-model="seat.newTimeBlock.name"></input>
              <a href="">
                <span ng-click="clickSeat(seat)" ng-hide="seat.clicked" class="text-muted"> &plus;</span>
              </a>
            </span>
            &nbsp;
          </div>

        </td>
      </tr>
    </table>




  </div>
</div>




<div class="panel panel-default">
  <div class="panel-heading">Recent Logs</div>
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label> Start Date </label>
        <input class="form-control" ng-model="startDate" ng-change="updateLogs()" type="date"></input>
      </div>
      &nbsp;
      <div class="form-group">
        <label> End Date </label>
        <input class="form-control" ng-model="endDate" ng-change="updateLogs()" type="date"></input>
      </div>
    </form>


    <table class="table table-striped table-responsive" style="table-layout: fixed;">
      <tr>
        <th>
          Event
        </th>
        <th>
          Teacher
        </th>
        <th>
          Class
        </th>
        <th>
          Time
        </th>
      </tr>

      <tr ng-repeat="log in logList">
        <td>
          {{log.eventName}}
        </td>
        <td>
          {{log.teacherName}}
        </td>
        <td>
          {{log.className}}
        </td>
        <td>
          {{log.date | date:"medium"}}
        </td>
      </tr>
    </table>

  </div>
</div>
