<div class="panel panel-default">
  <div class="panel-heading">Edit Teacher</div>
  <div class="panel-body">
    <form class="" name="update">
      <label> Name </label>
      <input type="text" class="form-control" name="name" placeholder="Name" ng-model="teacher.name">

      <label> Username </label>
      <input type="text" class="form-control" name="username" placeholder="Username" ng-model="teacher.username" >

      <label> Email </label>
      <input type="email" class="form-control" name="email" placeholder="Email" ng-model="teacher.email" ng-model-options="{ updateOn: 'blur' }" >

      <label> PIN </label>
      <input type="text" class="form-control" name="pin" placeholder="PIN" ng-model="teacher.pin" >

  <br>
  <button type="submit" class="btn btn-success" ng-click="updateTeacher()" ng-disabled="update.email.$error.email"> Update </button>
</form>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Update Password</div>
  <div class="panel-body">
    <form class="" name="password_update">
      <label> Password </label>
      <input type="password" class="form-control" name="password1" placeholder="Password" ng-model="teacher.password1">
      <label> Confirm Password </label>
      <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="teacher.password2">




<br>
<button type="submit" class="btn btn-success" ng-click="updatePassword()" ng-disabled="!passwordValid()"> Update Password</button>
</form>

</div>
</div>
