<div class="panel panel-default">
  <div class="panel-heading">Import Students</div>
  <div class="panel-body">
    <div class="col-xs-6">
      <textarea class="" rows="6" ng-model="import.addStudentList" style="resize: none; width: 100%; overflow:auto;" placeholder="Enter students here. One per line.">
      </textarea>
      <div>
        <button class="btn" ng-click="import.importStudents()">Import Students</button>
      </div>
    </div>
    <div class="col-xs-6">
    <h4> Students to Import </h4>
      <ul class="list">
        <li ng-repeat="name in import.addStudentList.split('\n') track by $index">{{name}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Add Students to Class</div>
  <div class="panel-body">
    <div class="col-xs-6">
      <div>
        <label> Select a class </label>
        <select ng-options="class.name for class in import.classList track by class.id" ng-model="import.selectedClass"></select>
      </div>
      <textarea class="" rows="6" ng-model="import.addStudentToClassList" style="resize: none; width: 100%;" placeholder="Enter students here. One per line.">
      </textarea>
      <div>
        <button class="btn" ng-click="import.addStudentsToClass()">Add Students</button>
      </div>
    </div>
    <div class="col-xs-6">
      <h4> Students to Add to Class</h4>
      <ul class="list">
        <li ng-repeat="name in import.addStudentToClassList.split('\n') track by $index">{{name}}</li>
      </ul>
    </div>
  </div>
</div>
