
.override-bar {
  transition:.3s;
}

/* Fix for modal white stripe on mobile
@media screen and (max-device-width: 600px) {
  body.modal-open {
    overflow: hidden;
  }
}
*/


@media (max-width: 767px) {
  .check-in-out-button {
    text-align: center;
  }
}

.modal-content
{
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);

}

.modal-dialog {
  z-index: 1050;
}

.name {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  vertical-align: middle;
}

.banner {
  background: #39b54a;
  color: white;
  width: 100%;
  text-align:center;
  margin-bottom:20px;
  padding: 10px 0px;
}

.banner img {
  margin: 0 auto;
  padding: 0 20px;
  max-height: 100px;
}


h1, h2, h3, h4, h5, h6, th, .panel-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

a:link {
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}

.container-fluid {
  padding: 0px;
}

.touch .btn-success:hover{
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.no-touch .btn-success:hover{
  color: #ffffff;
  background-color: #128f76;
  border-color: #11866f;
}

.touch .btn-success.active:hover{
  color: #ffffff;
  background-color: #128f76;
  border-color: #11866f;
}

.touch .btn-default:hover{
  color: #ffffff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.no-touch .btn-default:hover{
  color: #ffffff;
  background-color: #798d8f;
  border-color: #798d8f;
}

.touch .btn-default.active:hover{
  color: #ffffff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.btn-success:disabled{
  background-color:#90EAD8;
  border-color:#90EAD8;
}


.logout{
  margin: 10px;
  background-color:#aaaaaa;
  border-color:#aaaaaa;
}

html {
  overflow-y: scroll;
}

.class-lists .panel-body{
  padding : 0px;
}
