
.override-bar {
  transition:.3s;
}


@media (max-width: 767px) {
  .check-in-out-button {
    text-align: center;
  }
}

.modal-content
{
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);

}
